# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Databases
*.db
*.sqlite3

# Data
backend/data/CUSIP.csv
backend/data/cusip_cache.json

# Node / Frontend
node_modules/
dist/
.DS_Store

# Project specific
backups/
*.txt
!requirements.txt

# Desktop Distribution
Abrams13F_v*.zip
dist_staging/

